---
import type { Menu } from '@types'
import MenuDropdown from './MenuDropdown.astro'

interface Props {
  key: number
  menu: Menu
}

const { key, menu } = Astro.props
---

<>
    {
        menu.url
        ? <li class="relative"><a href={menu.url} title={`${menu.name} link`} class="color-header">{menu.name}</a></li>
        : <MenuDropdown menu={menu} />
    }
</>

<style>
li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition:  color 0.2s, backgroud-color 0.2s;
}
</style>